body {
}

#content {
    padding: 10px;
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 125%;
}

select {
    float: right;
    margin: 10px;
}

ul.results {
    list-style: none;
    margin: 0;
}

ul.results li {
    background-color: #EEE;
    padding: 6px 10px;
    margin: 10px 0;
}

ul.results img {
    float: left;
    margin-right: 8px;
    border: 1px solid #333;
}
