body {
    background-color: #DDD;
    -webkit-user-select: none;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

#grid img {
    margin: 10px;
}