body {
    text-align: center;
}

h1 {
    padding: 25px;
}

button {
    background-color: #390;
    display: inline-block;
    border: none;
    padding: 50px;
    font-weight: bold;
    color: white;
    font-size: 100%;
}

button:active {
    background-color: #6C3;
}

.progress {
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding: 3px 6px;
    margin: 25px;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
    -webkit-transition: opacity 250ms linear;
}

.result {
    color: blue;
    padding: 8px;
    margin: 15px;
    display: none;
}

@media all and (max-width: 600px) {
    button {
        width: 45%;
    }
}