@charset "utf-8";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #585858;
}

#videoPage {
  width: 1024px;
  height: 768px;
  color: #FFFFFF;
}

#videoInfo {
  position: absolute;
  padding: 10px;
}
  #videoInfo.singleScreen {
    top: 520px;
    width: 646px;
  }
  #videoInfo.dualScreen {
    top: 125px;
    width: 1004px;
  }

#videoInfo .videoThumb {
  width: 148px;
  height: 112px;
  background-color: #D26733;
}
  #videoInfo .videoThumb.singleScreen {
    margin-left: 3px;
  }
  #videoInfo .videoThumb.dualScreen {
    margin-left: 13px;
  }
  #videoInfo .videoThumb img {
    width: 144px;
    height: 108px;
    margin-top: 2px;
    margin-left: 2px;
  }

#videoInfo span {
  position: absolute;
}
  #videoInfo .singleScreen {
    left: 180px;
  }
  #videoInfo .dualScreen {
    left: 203px;
  }
  #nowPlaying {
    position: relative;
    top: 8px;
    font-size: 11pt;
    font-weight: bold;
    color: #D26733;
  }
  #videoTitle {
    position: absolute;
    top: 25px;
    font-size: 20pt;
    overflow: hidden;
    width: 800px;
    height: 36px;
  }
  #videoDescription {
    position: absolute;
    top: 65px;
    font-size: 11pt;
    overflow: hidden;
    color: white;
  }
    #videoDescription.singleScreen {
      width: 430px;
      height: 190px;
    }
    #videoDescription.dualScreen {
      width: 800px;
      height: 113px;
    }

#videoBackground {
  position: absolute;
  left: 13px;
  top: 10px;
  width: 600px;
  height: 450px;
  background-color: black;
}
  #videoBackground.singleScreen {
    display: block;
  }
  #videoBackground.dualScreen {
    display: none;
  }

video {
  width: 100%;
  height: 100%;
}

#videoControls {
  position: absolute;
  background-color: #333333;
}
  #videoControls.singleScreen {
    left: 13px;
    top: 460px;
    width: 600px;
    height: 58px;
  }
  #videoControls.dualScreen {
    left: 23px;
    top: 46px;
    width: 978px;
    height: 58px;
  }

#playButton {
  width: 98px;
  height: 100%;
  float: left;
}
  #playButton.upState {
    background-color: #D26733;
  }
  #playButton.downState {
    background-color: #994B25;
  }

.timeLabel {
  float: left;
  width: 76px;
  height: 100%;
  line-height: 58px;
  font-size: 11pt;
  font-weight: bold;
}
  #positionLabel {
    text-align: right;
  }
  #durationLabel {
    margin-left: 60px;
  }

.playheadHolder {
  position: relative;
  left: 30px;
  height: 100%;
  float: left;
}
  .playheadHolder.singleScreen {
    width: 290px;
  }
  .playheadHolder.dualScreen {
    width: 668px;
  }
  .playheadHolder div {
    position: absolute;
    background-repeat: no-repeat;
    top: 23px;
    width: 100%;
    height: 11px;
  }
  .playheadHolder #playheadTrack {
    background-color: #666666;
  }
  .playheadHolder #playheadFilledTrack {
    background-color: #D26733;
  }
  .playheadHolder #playhead {
    background-color: #FFFFFF;
    width: 22px;
  }

#tabs {
  position: absolute;
}
  #tabs.singleScreen {
    top: 10px;
    left: 624px;
    width: 388px;
    height: 40px;
    line-height: 40px;
  }
  #tabs.dualScreen {
    top: 322px;
    left: 0px;
    width: 100%;
    height: 70px;
    line-height: 70px;
  }

#tabs .tab {
  height: 100%;
  float: left;
  text-align: center;
  font-weight: bold;
  background-color: black;
  border-top-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: #333333;
  border-style: solid;
}
  #tabs .singleScreen {
    width: 95px;
    font-size: 13px;
  }
  #tabs .dualScreen {
    width: 254px;
    font-size: 18px;
  }
  #tabs .selectedTab {
    color: #D26733;
    background-color: #333333;
  }

#list {
  position: absolute;
  background-color: #333333;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 5px;
  border-color: #D26733;
}
  #list.singleScreen {
    left: 624px;
    top: 50px;
    width: 388px;
    height: 700px;
  }
  #list.dualScreen {
    left: 0px;
    top: 372px;
    width: 1024px;
    height: 340px;
  }

#list .label {
  position: absolute;
  left: 106px;
  width: 800px;
}
  #list .label.singleScreen {
    display: none;
  }

#list #playlistName {
  top: 25px;
  font-size: 26pt;
}

#list #playlistDescription {
  top: 71px;
  font-size: 12pt;
  font-weight: bold;
}

#list #outerVideosHolder {
  position: absolute;
  overflow: hidden;
}
  #list #outerVideosHolder.singleScreen {
    left: 0px;
    top: 30px;
    width: 388px;
    height: 650px;
  }
  #list #outerVideosHolder.dualScreen {
    left: 93px;
    top: 119px;
    width: 850px;
    height: 200px;
  }

#list #innerVideosHolder {
  height: 100%;
  position: absolute;
}

#list .videoItem {
  width: 211px;
  height: 230px;
  float: left;
  position: relative;
}
  #list .videoItem.singleScreen {
    left: 93px;
  }
  #list .videoItem.dualScreen {
    left: 0px;
  }

#list .videoThumb {
  width: 184px;
  height: 139px;
  background-color: #767676;
  margin-left: 13px;
}

#list .selectedItem {
  background-color: #D26733;
}

#list .selectedLabel {
  color: #D26733;
}

#list .videoThumb img {
  width: 180px;
  height: 135px;
  margin-top: 2px;
  margin-left: 2px;
}

#list .videoLabel {
  position: absolute;
  top: 153px;
  left: 13px;
  width: 184px;
  height: 85px;
  text-align: center;
}

#list .playOverlay {
  width: 41px;
  height: 41px;
  position: absolute;
  left: 24px;
  top: 87px;
  background-image: url(../images/thumbnailPlayOverlay.png);
}

#list .navButton {
  position: absolute;
  top: 144px;
  width: 52px;
  height: 87px;
}
  #list .navButton.singleScreen {
    display: none;
  }
  #list #previousButton {
    left: 36px;
    background-image: url(../images/previousButton.png);
  }
  #list #nextButton {
    left: 939px;
    background-image: url(../images/nextButton.png);
  }