body {
}

.loading {
    background-color: #FC0;
    color: #333;
    position: absolute;
    top: 4px;
    right: 4px;
    font-weight: bold;
    font-size: 85%;
    padding: 3px 6px;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
}
